* {
    box-sizing: border-box;
}


/* Color Palette for Later Use */
:root {
--primary: rgb(201, 60, 60);
--secondary: rgb(230, 190, 62);
--tertiary:  rgb(47, 150, 209);
--light:  rgb(62, 68, 71);
--dark: rgb(29, 31, 32);
}

body {
    background: var(--light);
}

header {
    padding: 40px, 0, 40px, 0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--dark);
}

.nav {
    position: relative;
    width: 250px;
    height: 60px;
    background: white;
    border-radius: 30px;
}