* {
    box-sizing: border-box;
}


/* Color Palette for Later Use */
:root {
--primary: rgb(201, 60, 60);
--secondary: rgb(230, 190, 62);
--tertiary:  rgb(47, 150, 209);
--light:  rgb(62, 68, 71);
--dark: rgb(29, 31, 32);
}

body {
    background: var(--light);
}

header {
    padding: 40px, 0, 40px, 0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--dark);
}


.nav {
    position: relative;
    width: 250px;
    height: 60px;
    background: var(--light);
    border-radius: 30px;
}

.nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.nav ul li {
    position: relative;
    list-style:none;
    width: 60px;
    height: 60px;
}


.nav ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: var(--dark);
}

.img {
    font-size: 20px;
    position: relative;
    display: block;
    line-height: 30px;
    text-align: center;
    color: white;
}

.navtitle {
    position: absolute;
    top: 70px;
    background: white;
    width: auto;
    padding: 5px 10px;
    border-radius: 3px;
    transition: 0.3s;
    opacity: 0;
    transform: translate(-5%, 15%);
    visibility: hidden;
}

.nav ul li:hover a .navtitle{
    opacity: 1;
    visibility: visible;

}

.namebanner {
    background: var(--primary);
    background-image: url();
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    padding: 2% 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.namebanner h1 {
    font-size: 75px;
}



.box-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.singlebox {
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: auto;
    border-radius: 4px;
    background-color: aliceblue;
    text-align: center;
    margin: 20px;
    padding: 20px;

}

.boximage {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 6px solid #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center;
}